@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
}

ul,
li {
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  line-height: 1.8;
}

h1{
  line-height: 1.3 !important;
}

.max-width {
  @apply px-5  lg:max-w-5xl lg:mx-auto xl:max-w-6xl 2xl:px-0;
}

.shortener{
  background-color: hsl(257, 27%, 26%);
  height: 10.188rem;
  border-radius: 8px;
  @apply lg:max-w-5xl lg:mx-auto xl:max-w-6xl 2xl:px-0;
}

.shortener img{
  height: 10.188rem;
  @apply w-full rounded-lg;
}

.shortener .form{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.boost {
  background-color: hsl(257, 27%, 26%);
  height: 17.188rem;
}

.boost img {
  height: 17.188rem;
  @apply w-full;
}

.boost .boost-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-cta {
  @apply bg-cyan py-2 px-4 text-white hover:opacity-75 transition-all duration-150 cursor-pointer;
}

@media (min-width: 1024px) {
  .card article:nth-child(3) {
    transform: translateY(2rem);
  }

  .card article:last-child {
    transform: translateY(4rem);
  }

  .line{
    @apply bg-cyan h-2 w-full absolute;
    top: 50%;

  }
}


@layer utilities{
  .middle{
    margin-left: calc(50% - 2rem);
  }
}